body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: ghostwhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titlebar-container {
  margin-left: 10px;
}

.description {
  width: 80%;
  text-align: left;
  margin-left: 20px;
  font-size: small;
}

.start-game-row-container {
  display: flex;
  width: 450px;
  height: 20px;
  margin-top: 20px;
  margin-left: 30px;
  justify-content: space-evenly;
  justify-items: flex-start;
}

.start-game-button-container {
  display: flex;
  width: 180px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.score-container {
  display: flex;
  width: 180px;
  height: 30px;
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.health-container {
  display: flex;
  width: 180px;
  height: 30px;
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.command-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: flex-start;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-left: 25px;
  font-size: small;
}

.command-input-label-container {
  display: flex;
  width: 80px;
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: small;
}

.command-input-entry-container {
  display: flex;
  width: 180px;
  height: 20px;
  margin-top: 10px;
  font-size: small;
}

.output-window-container {
  display: flex;
  wrap-option: wrap;
  text-align: left;
  width: 500px;
  height: 300px;
  margin-left: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: small;
}

.diagnostic-container {
  width: 80%;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  font-size: small;
}

.list-no-bullets {
   list-style-type: none;
}

li {
  min-height: 1.6em;  /* keep list from collapsing when lines are blank */
}

.winning-banner-container {
  display: flex;
  width: 480px;
  height: 30px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  font-color: red;
  background-color: cornflowerblue;
}

.the-reaper-banner-container {
  display: flex;
  width: 480px;
  height: 30px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  font-color: white;
  background-color: red;
}

.sound-enable-container {
  display: flex;
  width: 25%;
  color: black;
  font-weight: normal;
  font-size: small;
  margin-top: 20px;
  transform: scale(.8); /* scale down */
  -webkit-transform-origin-x: 0; /* align text left after scaling */
}

@media only screen and (max-width: 450px) {

  .start-game-row-container {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }

  .score-container {
    font-size: 14px;
  }

  .health-container {
    font-size: 14px;
  }

  .start-game-button-container {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 0px;
    height: 25px;
  }

  .output-window-container {
    width: 100%;
    margin: 20px 0px;
  }

  .command-input-container {
    margin-left: 5px;
  }

  .winning-banner-container {
    width: 100%;
  }

  .the-reaper-banner-container {
    width: 100%;
  }

}
